{% extends 'Core/Base.html' %}

{% load static %}

{% block content %}
    <br><br><br>
    <div class="row">
        <div class="col-md-4">
        </div>

        <div class="col-md-4 card" style="backdrop-filter: blur(8px); background:rgba(200, 200, 200, 0.1);">
            <div class="card-header" style="text-align: center">
                <h3>Attendance</h3>
            </div>
            <div class="card-body" style="padding: 60px;">
                <form action="" method="POST">
                {% csrf_token %}
                <p>Are you sure you wanna delete this task: <b>{{ task.title }}</b> which was assigned to <b>{{ task.employee.fname }}</b> ?</p>
                    <br><br>
                <button type="submit" class="btn btn-danger">Delete</button>
                <a href="/oracle/tasksList/" class="btn btn-primary">Cancel</a>

            </form>
            </div>
        </div>

        <div class="col-md-4">
        </div>
    </div>

{% endblock %}